.add-new-book  {
    //transform :translate (10px, 20px);
    background: #666;
    padding: 10px 20px;
    color : #fff;
    border: 1;
    border-radius: 4px;
    margin:10px 0;
    transition-property: background,color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    
}
.add-new-book:hover {
   // transform: scaleY(4)
    //tranform: skew(30 deg)
    //transform: rotate(15deg)
    background: lightpink;
    color: lightblue;

}